button {
  margin: 5px 0;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.file-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="file"] {
  margin-top: 10px;
}

.controls label,
.sprite-selector h3,
.properties-editor h3 {
  font-size: 16px;
  font-weight: bold;
}

.sprite-selector,
.properties-editor,
.file-management {
  border: 1px solid #ddd;
}

.properties-editor label {
  display: block;
  margin: 10px 0;
}

.grid {
  display: grid;
  grid-auto-flow: row; /* Ensure the grid flows in rows */
  gap: 0; /* Remove spacing between grid cells */
  justify-content: center; /* Center grid horizontally */
  align-items: center; /* Center grid vertically */
  gap: 1px;
}

.grid-cell {
  width: 32px;
  height: 32px;
  position: relative; /* so that inner elements can be positioned absolutely */
  overflow: hidden;
}

.sprite-option {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
  border: 2px solid transparent; /* Default, no border */
  transition: transform 0.2s, border-color 0.2s;
}

.sprite-option.selected {
  border-color: blue; /* Change the border color when selected */
  transform: scale(1.1); /* Optional: slightly scale the image */
}

.cell-background,
.cell-terrain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
